* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body {
    background: linear-gradient(100deg, #ffa500, #4c9a2a);
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(145, 201, 112);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: rgba(214, 159, 56, 0.438);
}

nav li:first-child {
    margin-right: auto;
}

.logo {
    width: 100px;
    height: 50px;
    display: block;
    object-fit: fill;
    opacity: 85%;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(129, 205, 83, 0.705);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 60px;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    padding: 15px;
}

.menu-button {
    display: none;
}

@media (max-width: 768px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}



/* etusivu */

.Nimi{
    padding: 10px;
    font-size: 6vw;
    background: -webkit-linear-gradient(10deg, #000000, #c2bcbc);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Studio{
    padding: 10px;
    font-size: 3vw;
    background: -webkit-linear-gradient(1deg, #000000, #817b7b, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.Motto{
    padding: 10px;
    font-size: 2vw;
    background: -webkit-linear-gradient(10deg,  #9c9393, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Etusivuteksti {
    text-align: center;
    
  }

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

div.etusivu {
height: 100vh;

}

.etusivuVideo {
    object-fit: fill;
    width: 100%;
    height: 100vh;
    max-height: 950px;
    position: relative;
    top: 0;
    left: 0;
    opacity: 25%;
}

/* Ohjelmat ja liikkeet */

div.ohjelmat{
    height: auto;
    max-width: 100vw;
    margin: 25px 25px 25px 25px;
    padding: 25px 25px 25px 25px;
}

.ohjelmatIsoTeksti{
    text-align: center;

    

}

/* kaikki kuvat mitä käytetään ohjelma sivulla*/
.kuva1, .kuva2, .kuva3, .kuva4, .kuva5, .kuva6 {
    width: 250px;
    height: auto;
    min-width: 10vw;
    padding-bottom: 25px;
    display: block;
    


}

.ohjeVideo{
    width: 250px;
    height: auto;
    min-width: 10vw;
    padding-bottom: 25px;
    display: block;
}
/* kaikki tekstit mitä käytetään ohjelmat sivulla*/

.ohjeteksti{
    font-family: sans-serif;
    padding-bottom: 15px;

}

.ohje1 {
    font-size: 20px;
}


.ohjelmat {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,32%));
    grid-column: 2;
    gap: 1rem;
    align-self: center;
    justify-content: center;
      
}
.grid-item img{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}


/* ruokavinkit ja reseptit */

div.Ruokavinkit {
    
    max-width: 100vw;
    background: linear-gradient(100%, #b17c1b, #77ee45);
}
.ruokavinkitIsoTeksti {
    text-align: center;


}
.reseptikuva{
    width: 325px;
    max-width: 350px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
    object-fit: cover;

}
.ruokaVideo{
    width: 325px;
    height: 250px;
    max-width: 350px;
    max-height: auto;
    object-fit: cover;
    margin-bottom: 25px;
    margin-top: 25px;
}
.reseptiIsoTeksti{
    margin-bottom: 10px;
    font-size: 20px;
}

.ravitsemusvinkit{
    margin-bottom: 10px;
}

.reseptit{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(375px,32%));
    grid-column: 2;
    gap: 1rem;
    align-self: center;
    margin-left: 45px;
    margin-right: 45px;
   
}

ul{
    list-style-type: none;
}

.reseptiteksti {
    text-align: left;
    max-width: 300px;
    
}

/*Kalenteri*/


div.Kalenteri {
    height: 920px;
    width: 100%;
 
}
 
.kalenteriIsoTeksti{
    text-align: center;
    
}
.Yläkalenteri{
    display: flex;
    flex-direction: left;
    margin-bottom: 25px;
}
.Kalenterikuva{
    max-width: 250px;
    height: auto;
    padding-right: 25px;
    max-height: 30vh;
}
.teksti p{
    font-size: 0.5rem;
    padding: 10px;
 
}
 .calendar {
    max-width: 50vw;
    height: auto;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 .event {
    border-bottom: 1px solid #eee;
    padding: 20px;
    margin: 20px 0;
 }
 .event:last-child {
    border-bottom: none;
 }
 .calendar h1 {
    color: #111111;
    text-align: center;
 }
 .calendar h2 {
    color: #111111;
 }
 .calendar p {
    color: #111111;
    line-height: 1.6;
 }

/*Blogi*/
.palvelut-background {
    background-image: url('images/PalvelutFoto1.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Фиксация фона при прокрутке */
    padding: 50px 20px; /* Отступы для удобного размещения контента */
    color: #fff; /* Белый цвет текста для контраста */
  }
  
  .Palvelut-heading {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .palvelut-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .palvelut-box {
    background: rgba(0, 0, 0, 0.6); /* Прозрачный черный фон для текста */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  
  .palvelut-box h4 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .palvelut-box p {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .palvelut-box button {
    background: #ff6700;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .palvelut-box button:hover {
    background: #e55a00;
  }
  

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: #031804;
}

.blog-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    background-color: rgb(135, 159, 30);
    border: 1px solid whitesmoke;
    margin: 20px;
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;

}
.blog-text span{
    color: #110909;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size:1.3rem;
    font-weight: 500;
    color:#272727;
}
.blog-text .blog-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}
.blog-text p{
    color: #100505;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    color:#f33c3c;
    transition: all ease 0.3s;
    
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color:#4b8f3a;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

.modal-content img {
    width: 100%;
    border-radius: 8px;
}

.modal-content h2 {
    margin: 20px 0;
}

.modal-content p {
    color: #1e1212;
}

.close {
    position: absolute;
    right: 2px;
    top: 2px;
    color: #0c0c0c;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*FOOTER*/
.footerContainer{
    background-color: #110202;
    font-family: Poppins;
    

}
.footer{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(350px,32%));
    grid-column: 2;
    gap: 1rem;
    align-self: center;
    margin-left: 45px;
    margin-right: 45px;
}
.grid-footer{
    align-items: top center;
    justify-content: top center;
    display: flex;
    
}
.footerIsoTeksti{
    font-size: 35px;
    padding-left: 25px;
    color: white;
}
.infoPieniTeksti{
    font-size: 15px;
    padding-bottom: 25px;
    padding-left: 25px;
    color: white;
}

.yhteystiedotPieniTeksti{
    font-size: 15px;
    padding-left: 25px;
    color: white;
}
.aukioloajatPieniTeksti{
    font-size: 15px;
    padding-left: 25px;
    color: white;
}    

.fa {
    margin-left: 15px;
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover{
    opacity: 0.7;
  }

  .fa-facebook {
    background: white;
    color: #000000;
  }
  
  .fa-twitter {
    background: white;
    color: #000000;
  }

  .fa-youtube{
    background: white;
    color: #000000;
  }
  .fa-instagram{
    background: white;
    color: #000000;
  }

/* media */

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  .infoPieniTeksti{
    max-width: 200px;
}
.Nimi{
    padding: 10px;
    font-size: 35px;
}

.Studio{
    padding: 10px;
    font-size: 20px;

}

.Motto{
    padding: 10px;
    font-size: 15px;

}
.kalenteriIsoTeksti{
    text-align: center;
    max-width: 250px;
    font-size: 25px;
    
}
}
@media(max-width: 400px){
  .footer{
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(325px,32%));
        grid-column: 2;
        gap: 1rem;
        align-self: center;
        margin-left: 45px;
        margin-right: 0px;
}
  .sidebar{
    width: 100%;
  }
  .reseptikuva{
    width: 225px;
    max-width: 225px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
    object-fit: cover;

}
.kalenteriIsoTeksti{
    text-align: center;
    max-width: 175px;
    font-size: 25px;
    
}
.ruokaVideo{
    width: 225px;
    height: 225px;
    max-width: 225px;
    max-height: auto;
    object-fit: cover;
    margin-bottom: 25px;
    margin-top: 25px;
}
.reseptit{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,32%));
    grid-column: 2;
    gap: 1rem;
    align-self: center;
   
}
.footer{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,32%));
    grid-column: 2;
    gap: 1rem;
    align-self: center;
    
  
}
.Nimi{
    padding: 10px;
    font-size: 40px;
}

.Studio{
    padding: 10px;
    font-size: 25px;

}

.Motto{
    padding: 10px;
    font-size: 20px;
}

}
@media(max-width:1250px){
    .blog-box{
        width: 300px;
    }
}
@media(max-width:1100px){
    .blog-box{
        width: 70%;
    }
}
@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding: 20px;
    }
}